<!DOCTYPE html>
<html lang="es">
    <head>  
        <meta charset="utf-8">
        <title>Formulario usuario</title>
    </head>
    <body>
        <form action="{{ url_for('alta_usu') }}" method="post">  
            <h5>Registrar datos</h5>
            <div>
                <p>Nombre: <input type = "text" name = "name" /></p>
            </div>
            <div>
                <p>Mail: <input type = "email" name = "mail" /></p>
            </div>
            <div>
                <p>Contraseña: <input type = "password" name = "password" /></p>
            </div>
                <button >Dar de alta</button>
            </div>
        </form>
    </body>
</html>