<!DOCTYPE html>
<html lang="es">
    <head>  
        <meta charset="utf-8">
        <title>Formulario actualizacion restaurante</title>
    </head>
    <body>
        <form action="{{ url_for('act_res') }}" method="post">  
            <h5>Introducir la informacion a actualizar</h5>
           
            <div>
                <p>Nombre del restaurante: <input type = "text" name = "name_res" /></p>
            </div>
            <div>
                <p>Direccion: <input type = "text" name = "adress" /></p>
            </div>
            <div>
                <p>Tipo de restaunrante: <input type = "text" name = "type" /></p>
            </div>
            <div>
                <p>Numero telefonico: <input type = "text" name = "telephone" /></p>
            </div>
            <div>
                <button >Actualizar registro</button>
            </div>
        </form>
    </body>
</html>